@import url('https://fonts.googleapis.com/css?family=Caveat|Poiret+One|Vibes&display=swap');
html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 100%;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);


}




.cont{
  width: 1200px;
  height: 1020px;
  margin-left: 10vh;
  margin-top: 20px;
  background-color:rgb(255,255,255) ;
   box-shadow: 4px 7px 4px 7px  rgb(194,137,105,0.4);
   border-radius: 20px;
   margin-bottom: 20px;
}
.tite{
  position: absolute;
  font-size: 65px;
  margin-top: 1vh;
  margin-left: 30px;
  font-family: 'Poiret One', cursive;

}
.linha{
  width: 600px;
  height: 1px;
  margin-left: -7px;
  margin-top: -1px;
  background-color:rgb(1,1,1) ;
}

form{
  position: absolute;
  margin-top: 160px;
  font-size: 24px;
}
.obj{
  margin-left: 60px;
  font-size: 30px;
   font-family: 'Poiret One', cursive;
    box-shadow: 0px 0px 0px 0px  rgb(156,175,170,0.4);
}
input[type='file'] {
  color: grey;
}
/*Aparência do selector, nesse caso utilizando uma label */
textarea{
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
  

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
   
  overflow:auto;
  border-radius: 10px;
 
}

#bom{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);



  border-color:transparent;
  font-family: 'Poiret One', cursive;
}input{
  border-radius: 10px;
}
.img{
   width: 50px;
   margin-left: 0vh;
  height: 50px;


   position: absolute;
}
.sair{
 width: 20px;
   margin-left: 175vh;
  height: 20px;
  margin-top: -90px;


   position: absolute;

}
#c{
  width:494px;
      vertical-align: center;
height: 50px;
  
   
  overflow:auto;
  border-radius: 10px;
  resize:none;
}
#p{
  width:519px;
      vertical-align: center;
height: 50px;
  
   
  overflow:auto;
  border-radius: 10px;
  resize:none;
}
#i{
  width:677px;
      vertical-align: center;
height: 50px;
  
   
  overflow:auto;
  border-radius: 10px;
  resize:none;
}
#l{
  width:620px;
     vertical-align: center;
height: 50px;
  
   
  overflow:auto;
  border-radius: 10px;
  resize:none;
}
#v{
  width:600px;  height: 200px; resize:none;
}
#x{
  width:745px;
      vertical-align: center;
height: 50px;
  
   
  overflow:auto;
  border-radius: 10px;
  resize:none;
}
#W{
  margin-top:90; margin-left:980px; width:200px;
}