@import url('https://fonts.googleapis.com/css?family=Caveat|Poiret+One|Vibes&display=swap');
html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 100%;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
overflow-x: hidden;
overflow-y: hidden;


}
.sair{
 width: 20px;
   margin-left: 178vh;
  height: 20px;
  margin-top: 10px;


   position: absolute;

}

#log{
    width: 1200px;
  height: 150px;
  margin-left: 10vh;
  margin-top: 240px;
  background-color:rgb(255,255,255) ;
   box-shadow: 10px 10px 4px 6px  rgb(194,137,105,0.4);
   border-radius: 20px;
   margin-bottom: 20px;
}
#ki{
  width: 1200px;
  height: 300px;
  margin-left: 10vh;
  margin-top: 180px;
  background-color:rgb(255,255,255) ;
   box-shadow: 10px 10px 4px 6px  rgb(194,137,105,0.4);
   border-radius: 20px;
   margin-bottom: 20px; 
}
#ko{
  width: 1200px;
  height: 240px;
  margin-left: 10vh;
  margin-top: 200px;
  background-color:rgb(255,255,255) ;
   box-shadow: 10px 10px 4px 6px  rgb(194,137,105,0.4);
   border-radius: 20px;
   margin-bottom: 20px; 
}
#shalom{
position: absolute;
  font-size: 30px;
  margin-top: -5vh;
  margin-left: 50px;
  width: 1000px;

padding: 4px 10px;
  font-family: 'Poiret One', cursive;
}
#painel{
  margin: 10px 10px;
}
#logo{
  margin: 10px 10px;
}
#banner{
  margin: 10px 10px;
}
#e{
  position: absolute;
  font-size: 30px;
  margin-top: -20vh;
  margin-left: 30px;

  font-family: 'Poiret One', cursive;
}
#ç{
position: absolute;
  font-size: 35px;
  margin-top: -23vh;
  margin-left: 30px;
padding: 20px;
  font-family: 'Poiret One', cursive;
}
#b{
  background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);



  border-color:transparent;
  margin-top:-120px; 
  margin-left: -40px;
   width:200px;
   font-family: 'Poiret One', cursive;

}

form{
  position: absolute;
  margin-top: 160px;
  font-size: 24px;
}

input[type='file'] {
  color: grey;
}


#bom{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);



  border-color:transparent;
  margin-top:-170px; 
   width:200px;
   font-family: 'Poiret One', cursive;
}
#bele{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);



  border-color:transparent;
  margin-top:-10px; 
   width:200px;
   font-family: 'Poiret One', cursive;

}
#bam{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);



  border-color:transparent;
  margin-top:-70px; 
   width:200px;
   font-family: 'Poiret One', cursive;

}
#W{
  margin-top:90px; margin-left:980px; width:200px;
}
