@import url('https://fonts.googleapis.com/css?family=Caveat|Poiret+One|Vibes&display=swap');
html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 500px; ;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;

}

.nav{
  height: 80px;
   background: rgb(255,255,255);


    font-family: 'Caveat', cursive;

    text-shadow: 2px 2px 1px #aaa;
    font-size: 50PX;


 
   box-shadow: 0 5px 10px 2px  rgb(156,175,170,0.4);
  
}
#q{
  font-size:40px; margin-left:30px;margin-top:1vh; font-family: 'Caveat', cursive;
}
#w{
  height: 380px;margin-left:160px;margin-top: 200px;
}
#b{
  height: 230px; margin-top: 240px; margin-left:450px;
}
#s{
  margin-top: 240px;
   margin-left:100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 1150px;
  top: 0;
  background-color:rgb(255,255,255) ;
  position: absolute;
}

li {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 18PX;



}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}



li a:hover {
  background-color:rgb(255,255,255,0.4) ;
  padding: 25px 20px;
  text-decoration: none;
}

.img{
  margin-top: 2vh;
margin-left: 0px;
  width: 450px;
  border-radius: 20px;
  height: 350px;
}

.cont{
  width: 1000px;
  height: 350px;
  margin:30   0px 300px;
  margin-bottom: 30px;
   background-color:rgb(255,255,255) ;
   box-shadow: 7px 10px 10px 10px  rgb(156,175,170,0.4);
   border-radius: 20px;
}
.sou{
  position: absolute;
  width: 400px;
  margin-top: 3vh;
  margin-left: 570px;
  font-size: 25px;
  font-family: 'Poiret One', cursive;

}
.au{
    position: absolute;
  width: 300px;
  margin-top: 38vh;
  margin-left: 830px;
  font-size: 10px;
  font-family: 'Poiret One', cursive;
}

.footer{
  position: relative;
  height: 100px;
  background: rgb(42,42,55);
  text-align: center;
  align-items: center;
  margin-top: 150px;
background-image: linear-gradient(90deg, rgba(69,93,122,1) 17%, rgba(69,99,138,1) 61%, rgba(104,135,162,1) 88%);
}
#tane{
  position: absolute;
  background-color: transparent;
  margin-left:-160px;
  margin-top: 20px; 
  width: 700px;
   font-family: 'Poiret One', cursive;
}
#te{
 font-size: 40px;
 color: black;
}
#aa{
 display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 6px;
  margin-left: 360px;
  margin-top: -40px;

}



#aa a:hover {
  background-color:rgb(255,255,255,0.4) ;
 
   text-decoration: none;
   border-radius: 20px; 
}
.re{
  width: 40px;
  height: 40px;
   margin-top: 50px;
  margin-left: 60px;
  align-items: right;
}

.reee{
  margin-left: 900px;
}

.tite{
  position: relative;
  font-size: 45px;
  margin-top: -50vh;
  margin-left: 500px;
  font-family: 'Poiret One', cursive;

}
#bom{
background-image: linear-gradient(349deg, rgba(137,177,150,1) 30%, rgba(104,139,145,1) 56%, rgba(102,112,116,1) 100%);
color: white;
position: absolute;
font-size: 15px;
height: 30px;
text-align: center;
margin-top: -200px;
margin-left: 30px;
padding: 2px 2px;
width: 90px;
  border-color:transparent;
     font-family: 'Poiret One', cursive;
}
#dai{
  font-size: 20px;
  position: absolute;
  margin-top:40; 
  width: 20px;

  
}
a{
  text-decoration: none;
}
button a{
  color: white;
    text-decoration: none;
}
button a:hover{
  color: white;
    text-decoration: none;
}