:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(11,2,23);

  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.cont{

  width: 700px;
  height: 500px;
  position: absolute;
 margin: 20px 350px;
  background-color:rgb(255,255,255) ;
   box-shadow: 10px 10px 10px 8px  rgb(194,137,105,0.3);
   border-radius: 20px;
   margin-bottom: 20px;


}
.text{
	text-align: center;
	font-size: 30px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 10px;
}
.pi{
		text-align: left;
		width: 200px;
		margin-left: 50px;
	font-size: 15px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 20px;
}
.po{
	text-align: left;
		width: 300px;
		margin-left: 30px;
	font-size: 20px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 20px;

}
.pp{
		text-align: left;
		width: 200px;
		margin-left: 370px;
	font-size: 20px;
	 font-family: 'Poiret One', cursive;
	 margin-top: -5px;
	 position: absolute;	
}
.pao{
		text-align: left;
		width: 200px;
		margin-left: 370px;
	font-size: 20px;
	 font-family: 'Poiret One', cursive;
	 margin-top: -5px;
	 position: absolute;	
}
.pe{
			text-align: left;
		width: 200px;
		margin-left: 20px;
	font-size: 15px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 20px;

}
.pre{
			text-align: left;
		width: 200px;
		margin-left: 20px;
	font-size: 15px;
	 font-family: 'Poiret One', cursive;
	 margin-top: -105px;

}
.li{
	background-color:  black;
	width: 1px;
	height: 370px;
	margin:-350px 350px;
}
.l{
	background-color:  black;
	width: 1px;
	height: 330px;
	margin:-200px 350px;
}
#W{
	font-size: 20px;
  margin-top:320; margin-left:590px; width:100px;
  
}
#t{
	font-size: 20px;
  margin-top:250; margin-left:210px; width:100px;
  
}
#bom{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);


font-size: 15px;
height: 30px;
text-align: center;
margin-top: -10px;
margin-left: -10px;
padding: 2px 2px;
  border-color:transparent;
  	 font-family: 'Poiret One', cursive;
}
a{
	text-decoration: none;
}
button a{
	color: white;
		text-decoration: none;
}
button a:hover{
	color: white;
		text-decoration: none;
}
.lo{
		background-color:  black;
	width: 1px;
	height: 370px;
	margin:-220px 350px;

}
.p{
		text-align: left;
		width: 200px;
		margin-left: 380px;
	font-size: 20px;
	 font-family: 'Poiret One', cursive;
	 margin-top:-375px
}
.sair{
 width: 20px;
   margin-left: 100vh;
  height: 20px;
  margin-top: 13px;


   position: absolute;

}
