:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(11,2,23);

  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.cont{

  width: 320px;
  height: 300px;
  position: absolute;
 margin: 20px 20px;
  background-color:rgb(255,255,255) ;
   box-shadow: 10px 10px 10px 8px  rgb(194,137,105,0.3);
   border-radius: 20px;
   margin-bottom: 20px;


}
.text{
	text-align: center;
	font-size: 20px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 10px;
}
.pi{
		text-align: left;
		width: 130px;
		margin-left: 15px;
	font-size: 10px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 10px;
}
.po{
	text-align: left;
		width: 200px;
		margin-left: 10px;
	font-size: 15px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 10px;

}
.pp{
		text-align: left;
		width: 100px;
		margin-left: 10px;
	font-size: 15px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 166px
}
.pao{
	text-align: left;
		width: 100px;
		margin-left: 10px;
	font-size: 15px;
	 font-family: 'Poiret One', cursive;
	 margin-top: -106px;
	 padding: 2px 2px;

}
.pe{
			text-align: left;
		width: 130px;
		margin-left: 159px;
	font-size: 10px;
	 font-family: 'Poiret One', cursive;
	 margin-top: -85px;

}
.pre{
			text-align: left;
		width: 130px;
		margin-left: 159px;
	font-size: 10px;
	 font-family: 'Poiret One', cursive;
	 margin-top: 88px;

}
.li{
	background-color:  black;
	width: 1px;
	height: 190px;
	margin:-200px 156px;
}
.l{
	background-color:  black;
	width: 1px;
	height: 140px;
	margin:-120px 156px;
}
#W{
	font-size: 20px;
  margin-top:2; margin-left:100px; width:80px;
  
}
#t{
	font-size: 20px;
  margin-top:-60; margin-left:90px; width:80px;
  
}
#bom{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);


font-size: 15px;
height: 25px;
text-align: center;
margin-top: 180px;
margin-left: 130px;
padding: 2px 3px;
  border-color:transparent;
  	 font-family: 'Poiret One', cursive;
}
.n{
	width: 800px;
}
a{
	text-decoration: none;
}
button a{
	color: white;
		text-decoration: none;
}
button a:hover{
	color: white;
		text-decoration: none;
}
.lo{
		background-color:  black;
	width: 1px;
	height: 140px;
	margin:-115px 100px;

}
.p{
		text-align: left;
		width: 100px;
		margin-left: 15px;
	font-size: 15px;
	 font-family: 'Poiret One', cursive;
	 margin-top:110px;
	 position: absolute;
}
#aa{
			text-align: left;
		width: 100px;
		margin-left: 10px;
	font-size: 15px;
	 font-family: 'Poiret One', cursive;
	 margin-top:5px;

}
.sair{
 width: 10px;
   margin-left: 49vh;
  height: 20px;
  margin-top: 13px;


   position: absolute;

}
