@media screen and (max-device-width: 480px) {
  html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 100%;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);


}




.cont{
  width: 290px;
  height: 300px;
 margin: 20px 40px;
  background-color:rgb(255,255,255) ;
   box-shadow: 4px 7px 4px 7px  rgb(194,137,105,0.4);
   border-radius: 20px;
   margin-bottom: 20px;
}
.tite{
  position: absolute;
  font-size: 25px;
  margin-top: 1vh;
  margin-left: 10px;
  font-family: 'Poiret One', cursive;

}
.linha{
  width: 190px;
  height: 1px;
  margin-left: -7px;
  margin-top: -1px;
  background-color:rgb(1,1,1) ;
}

form{
  position: absolute;
  margin-top: 60px;
  font-size: 13px;
  margin: 50px -50px;
}
.obj{
  margin-left: 60px;
  font-size: 10px;
   font-family: 'Poiret One', cursive;
    box-shadow: 0px 0px 0px 0px  rgb(156,175,170,0.4);
}
input[type='file'] {
  color: grey;
}
/*Aparência do selector, nesse caso utilizando uma label */
textarea{
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
  

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
   
  overflow:auto;
  border-radius: 10px;
 
}

#bom{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);


font-size: 10px;
height: 30px;
text-align: center;
padding: 2px 2px;
width: 70px;
  border-color:transparent;
}input{
  border-radius: 10px;
}
.img{
   width: 10px;
   margin-left: 0vh;
  height: 10px;


   position: absolute;
}
.sair{
 width: 10px;
   margin-left: 44vh;
  height: 10px;
  margin-top: -28px;


   position: absolute;

}
#c{
  width:104px;
  height: 20px;
}
#p{
  width:109px;
  height: 20px;

}
#i{
  width:107px;
  height: 20px;
}
#l{
  width:100px;
  height: 20px;
}
#v{
  width:140px;  height: 100px; resize:none;
}
#x{
  width:105px;
  height: 20px;
}
#W{
  font-size: 10px;
  margin-top:15; margin-left:240px; width:60px;
  
}