:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(11,2,23);

background: linear-gradient(349deg, rgba(137,177,150,1) 12%, rgba(104,139,145,1) 36%, rgba(102,112,116,1) 100%);
}




.form-signin {
  object-position: all;
  align-items: center;
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  margin-bottom: 0; /* Sobrescreve a margem padrão da `<label>` */
  line-height: 1.5;
  color: #495057;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: center) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
    align-items: center;
     position: absolute;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
.formulario{
  width: 400px;
  height: 320px;
align-items: center;
margin-left: 37%;
background-color: white;
border-radius: 6px;
}
.formu{
    width: 400px;
  height: 300px;
align-items: center;
margin-left: 37%;
background-color: white;
border-radius: 6px;
padding: 2px 0px;
}
#bom{
 background: linear-gradient(349deg, rgba(137,177,150,1) 12%, rgba(104,139,145,1) 36%, rgba(102,112,116,1) 100%);

  border-color:transparent;
  margin-top: 10px;
}
.formulario2{
  width: 400px;
  height: 480px;
align-items: center;
margin-left: 37%;
background-color: white;
border-radius: 6px;
}
