@import url('https://fonts.googleapis.com/css?family=Caveat|Poiret+One|Vibes&display=swap');
html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 100%;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);


}
.sair{
 width: 10px;
   margin-left: 49vh;
  height: 20px;
  margin-top: 4px;


   position: absolute;

}

#log{
    width: 320px;
  height: 100px;
  margin-left: 2vh;
  margin-top: 240px;
  background-color:rgb(255,255,255) ;
   box-shadow: 10px 10px 4px 6px  rgb(194,137,105,0.4);
   border-radius: 20px;
   margin-bottom: 20px;
}
#ki{
  width: 320px;
  height: 200px;
  margin-left: 2vh;
  margin-top: 180px;
  background-color:rgb(255,255,255) ;
   box-shadow: 10px 10px 4px 6px  rgb(194,137,105,0.4);
   border-radius: 20px;
   margin-bottom: 20px; 
}
#ko{
  width: 320px;
  height: 150px;
  margin-left: 2vh;
  margin-top: 200px;
  background-color:rgb(255,255,255) ;
   box-shadow: 10px 10px 4px 6px  rgb(194,137,105,0.4);
   border-radius: 20px;
   margin-bottom: 20px; 
}
#shalom{
position: absolute;
  font-size: 15px;
  margin-top: -3vh;
  margin-left: 30px;
  width: 1000px;

padding: 2px 4px;
  font-family: 'Poiret One', cursive;
}
#painel{
  margin: 10px 10px;
}
#logo{
  margin: 10px 10px;
}
#banner{
  margin: 10px 10px;
}
#e{
  position: absolute;
  font-size: 15px;
  margin-top: -18vh;
  margin-left: 10px;

  font-family: 'Poiret One', cursive;
}
#ç{
position: absolute;
  font-size: 15px;
  margin-top: -18vh;
  margin-left: 10px;
padding: 5px;
  font-family: 'Poiret One', cursive;
}
#b{
  background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);




  border-color:transparent;
  margin-top: 0px; 
   width:60px;
   height: 20px;
   font-size: 10px;
   padding: 1px 3px;
   margin-left: 240px;
   font-family: 'Poiret One', cursive;

}

form{
  position: absolute;
  margin-top: 128px;
  font-size: 24px;
}

input[type='file'] {
  color: grey;
}


#bom{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);



  border-color:transparent;
  margin-top: -58px; 
   width:60px;
   height: 20px;
   font-size: 10px;
   padding: 1px 3px;
   margin-left: 240px;
   font-family: 'Poiret One', cursive;
}
#bele{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);


  border-color:transparent;
  margin-top: 30px; 
   width:60px;
   height: 20px;
   font-size: 10px;
   padding: 1px 3px;
   margin-left: 240px;
   font-family: 'Poiret One', cursive

}
#bam{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);




  border-color:transparent;
  margin-top: -10px; 
   width:60px;
   height: 20px;
   font-size: 10px;
   padding: 1px 3px;
   margin-left: 240px;
   font-family: 'Poiret One', cursive

}
#W{
  margin-top:0px; margin-left:0px; width:400px;
}
