@media screen and (max-device-width: 480px) {
.formulario{
  width: 400px;
  height: 320px;
align-items: center;
margin-left: 0%;
padding: 1px 1px;
margin: 0px 30px;
background-color: white;
border-radius: 6px;
}
#bom{
 background: linear-gradient(349deg, rgba(137,177,150,1) 12%, rgba(104,139,145,1) 36%, rgba(102,112,116,1) 100%);

  border-color:transparent;
}
.formulario2{
  width: 400px;
  height: 480px;
align-items: center;
margin-left: 0%;

margin: 0px 30px;
background-color: white;
border-radius: 6px;
}

.forla{
  width: 400px;
  height: 320px;
align-items: center;
margin-left: 0%;
padding: 0px 1px;
margin: 0px -1px;

background-color: white;
border-radius: 6px;
}
#bora{
 background:black;
 width: 270px;
 margin-left: 60px;
 margin-top: 20px;
  border-color:transparent;
  position: relative;
}

.img{
  margin-top: -10px;
  margin-left: 25px;
  position: absolute;

   transform :perspective(1300px) rotateX(0deg) rotateY(8deg) rotateZ(360deg);
}
}