@import url('https://fonts.googleapis.com/css?family=Caveat|Poiret+One|Vibes&display=swap');
html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 100%;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;
 
}
.bonita{
  height: 600px;
position: absolute;
align-items: center;
  background-size: cover;
   width: 100%;
 
  background-image: url('img/back.jpg');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing :border-box;


  
}
.nav{
  height: 74px;
   background: rgb(255,255,255);


    font-family: 'Caveat', cursive;

    text-shadow: 2px 2px 1px #aaa;
    font-size: 50PX;


 
   box-shadow: 0 5px 10px 2px  rgb(156,175,170,0.4);
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 1000px;
  top: 0;
  background-color:rgb(255,255,255) ;
  position: absolute;
}

li {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 18PX;



}
#resp{
  font-size:40px; margin-left:150px; font-family: 'Caveat', cursive;
}
#iti{
  display: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}



li a:hover {
  background-color:rgb(255,255,255,0.4) ;
  padding: 25px 25px;
  text-decoration: none;
}

.logo{
  height: 100px;
  width: 900px;
  position: relative;
   margin-left: auto;
  margin-right: auto;
  margin-top:-9vh;
  margin-left: 35.5vh;
 align-items: center;
 }
 .letras{
  position: flex;
  font-family: 'Poiret One', cursive;
  text-align: center;
   margin-top:36vh;
   margin-left: auto;
  margin-right: auto;
  font-size: 45px;
  width: 300px;

 }
 #ont{
   font-size: 45px;
 }









.paral{
  margin-top: 700px;
  height:300px;
  width: 100%;
  background: rgb(255,255,255);
 

}
.cont{
margin-top: 1300px;
  width: 400px;
  height: 400px;
  margin-left: -25px;
  box-shadow: 4px 4px 5px 5px rgb(118,147,168,0.4);
  border-radius: 10px;
    transform :perspective(1000px) rotateX(0deg) rotateY(3deg) rotateZ(20deg);
}
.nav1{
  position: relative;
  margin-top: -400px;
  height: 54px;
   box-shadow: 0 5px 10px 2px rgb(118,147,168,0.4);
   border-radius: 7px;
   align-items: center;
  
  
}
.cir{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top:12px;
  
 
  background-color:  rgb(141,209,214);
  border-radius: 14px 15px 15px 14px;
}
.cir2{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 50px;
  margin-top:12px;

 background-color:  rgb(141,209,214);
  border-radius: 14px 15px 15px 14px;

}
.cir3{
   position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 90px;
  margin-top:12px;
 
 background-color:  rgb(141,209,214);
  border-radius: 14px 15px 15px 14px;
 
}
#q{
  margin-top:210px;
}
#w{
  margin-top:250px;
}
#e{
  margin-top:290px;
}
#r{
  margin-left:500px; 
}
#t{
  margin-left: 65px;
  margin-top:210px;
}
#y{
  margin-left:950px;
}
.linha{
  position: absolute;
  margin-top: 50px;
    width: 200px;
  height: 2px;
   background-color:  rgb(156,175,170);
 margin-left: 180px;

}
.linha2{
  position: absolute;
  margin-top: 90px;
    width: 200px;
  height: 2px;
   background-color:  rgb(156,175,170);
 margin-left: 180px;

}
.linha3{
  position: absolute;
  margin-top: 130px;
    width: 200px;
  height: 2px;
   background-color:  rgb(156,175,170);;
 margin-left: 180px;

}
.dif{
  position: absolute;
  margin-top: 170px;
    width: 350px;
  height: 2px;
   background-color:  rgb(156,175,170);
 margin-left: 30px;

}
.inhe{
position: absolute;
width: 150px;
height: 120px;
 margin-top: 20px;
  margin-left: 20px;
background-color:  rgb(157,175,178);
border-radius: 10px;
}
.title{
  font-size: 50px;
  width: 800px;
font-family: 'Poiret One', cursive;
  text-align: center;
  margin-left: 500px;
  margin-top: -510px;
  margin-right: 300px;
}
.paral1{
  position: relative;
 margin-top: 125px;
  height: 1300px;
  width: 100%;
  background: rgb(137,157,165) ;
}
.cont2{
  position: absolute;
  background-color: #fff;
  width: 320px;
  height: 350px;
  margin-left: 50px;
  margin-top: 195px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 5px rgb(118,147,168,0.4);
  align-items: center;

}
.ajus{
  height: 700px;
  width: 700px;
  align-items: center;
  margin-top: -250px;
  margin-left: -190px;
  position: absolute;
}
.tis{
  text-align: center;
  font-size: 40px;
  position: absolute;
  margin-top: 180px;
 font-family: 'Shadows Into Light', cursive;
}
.tete{
position: absolute;
  font-family: 'Poiret One', cursive;
  text-align: center;
   margin-top:140vh;
   margin-left: auto;
  margin-right: auto;
  font-size: 55px;
  width: 700px;
  margin-left: 320px;
  text-decoration: none;
}
#cansadas{
  font-size: 20px;

  margin-top: 80px;
 background: linear-gradient(349deg, #0a5459 12%, #165c61 36%,#165c61 100%);
 width: 350px;
 text-align: center;
 align-items: center;
 margin-left: 160px;
  border-color:transparent;
border:0;
  text-decoration: none;
  
}
.footer{
  position: relative;
  height: 100px;
  background: rgb(42,42,55);
  text-align: center;
  align-items: center;
background-image: linear-gradient(90deg, rgba(69,93,122,1) 17%, rgba(69,99,138,1) 61%, rgba(104,135,162,1) 88%);
}
#tane{
  position: absolute;
  background-color: transparent;
  margin-left:-160px;
  margin-top: 20px; 
  width: 700px;
   font-family: 'Poiret One', cursive;
}
#te{
 font-size: 40px;
 color: black;
}
#aa{
 display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 6px;
  margin-left: 360px;
  margin-top: -40px;

}



#aa a:hover {
  background-color:rgb(255,255,255,0.4) ;
 
   text-decoration: none;
   border-radius: 20px; 
}
.re{
  width: 40px;
  height: 40px;
   margin-top: 50px;
  margin-left: 60px;
  align-items: right;
}

.reee{
  margin-left: 900px;
}
#mari{
display: none;
}