@media screen and (max-device-width: 480px) {
 html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 100%;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;
 
}
.bonita{
  height: 100%;
 
position: all;
align-items: center;
  background-size: 100%;
  
 
  background-image: url('img/celu.png');
      background-position: top;
  background-repeat: no-repeat;
  


  
}



 .logo{
  height: 10px;
  width: 10px;
  position: absolute;
 
  margin: 31px -7vh;
 align-items: center;

 }
  .letras{
position: absolute;
  font-family: 'Poiret One', cursive;
  text-align: center;
   margin-top:15vh;
   margin: 35vh -3.5vh;
  font-size: 10px;
  width: 400px;




 }
 .cont{
margin-top: 2300px;
position: all;
  width: 250px;
  height: 200px;
  margin-left: 800px;
  box-shadow: 4px 4px 5px 5px rgb(118,147,168,0.4);
  border-radius: 10px;
    transform :perspective(2000px) rotateX(0deg) rotateY(0deg) rotateZ(30deg);

}
.nav1{
  position: relative;
  margin-top: -400px;
  height: 44px;
   box-shadow: 0 5px 10px 2px rgb(118,147,168,0.4);
   border-radius: 7px;
   align-items: center;
   display: none;
  
  
}
.cir{
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top:15px;
  
 
  background-color:  rgb(141,209,214);
  border-radius: 14px 15px 15px 14px;
}
.cir2{
  position: absolute;
 width: 15px;
  height: 15px;
  margin-left: 30px;
  margin-top:15px;

 background-color:  rgb(141,209,214);
  border-radius: 14px 15px 15px 14px;

}
.cir3{
   position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 50px;
  margin-top:15px;
 
 background-color:  rgb(141,209,214);
  border-radius: 14px 15px 15px 14px;
 
}

.linha{
  position: absolute;
  margin-top: 20px;
    width: 110px;
  height: 2px;
   background-color:  rgb(156,175,170);
 margin-left: 80px;

}
.linha2{
  position: absolute;
  margin-top: 40px;
    width: 110px;
  height: 2px;
   background-color:  rgb(156,175,170);
 margin-left: 80px;

}
.linha3{
  position: absolute;
  margin-top: 60px;
    width: 180px;
  height: 2px;
   background-color:  rgb(156,175,170);;
 margin-left: 10px;

}
.dif{
  position: absolute;
  margin-top: 80px;
    width: 180px;
  height: 2px;
   background-color:  rgb(156,175,170);
 margin-left: 10px;

}
#q{
  margin-top:100px;
}
#w{
  margin-top:120px;
}
#e{
  margin-top:140px;
}
.inhe{
position: absolute;
width: 60px;
height: 40px;
 margin-top: 10px;
  margin-left: 10px;
background-color:  rgb(157,175,178);
border-radius: 5px;
}
.paral{
  margin-top: -147vh;
  height:   600px;
 
  background: rgb(255,255,255);
 
 
position: all;
align-items: center;
  background-size: 100%;
  
 position: relative;  
  background-image: url('img/celu(1).png');
      background-position: top;
      margin-bottom: -100px;
      
 

}
.title{
  font-size: 20px;
  text-align: center;
font-family: 'Poiret One', cursive;
margin: -500px 80px;
width: 200px;

  position: relative;

}
.paral1{
  position: relative;
 margin-top: -400px;
  height: 780px;
  width: 100%;
  margin-bottom: -70px;
  background: rgb(137,157,165) ;
}
.cont2{
display: none;

}
.ajus{
 display: none;
}
.tis{
display: none;
}
.tete{
position: absolute;
  font-family: 'Poiret One', cursive;
  text-align: center;
   margin-top:40vh;
   margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  width: 300px;
  margin-left: 30px;
  text-decoration: none;
}

#mari{
  display: inline-block;
  width: 200px;
  margin: 350px 0px;
  margin-left: -40px;
    transform :perspective(1000px) rotateX(0deg) rotateY(3deg) rotateZ(0deg);
}
.footer{
  position: relative;
  height: 130px;
  width: 360px;
  margin-top: 60px;
  background: rgb(42,42,55);
  text-align: center;
  align-items: center;
  margin-bottom: -400px;
background-image: linear-gradient(90deg, rgba(69,93,122,1) 17%, rgba(69,99,138,1) 61%, rgba(104,135,162,1) 88%);
}
#tane{
  position: absolute;
  background-color: transparent;
  margin-left:-40px;
  margin-top: 20px; 
  width: 270px;
  height: 10px;
   font-family: 'Poiret One', cursive;
}
#te{
 font-size: 20px;
 color: black;
}
#aa{
 display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 6px;
  margin-left: 180px;
  margin-top: -20px;

}
.re{
  width: 30px;
  height: 50px;
   margin-top: 75px;
  margin-left: 10px;
  align-items: right;
}

.reee{
  margin-left: 200px;
}
.nav{
  height: 74px;
   background: rgb(255,255,255);


    font-family: 'Caveat', cursive;

    text-shadow: 2px 2px 1px #aaa;
    font-size: 30PX;


 
   box-shadow: 0 5px 10px 2px  rgb(156,175,170,0.4);
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 140px;
  top: 10;
  background-color:rgb(255,255,255) ;
  position: absolute;
}

li {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 10PX;



}
#resp{
  font-size:30px; margin-left:10px; font-family: 'Caveat', cursive;
  margin-top: 10px;
}
#iti{
  display: inline-block;
width: 300px;
margin: 10px 10px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}



li a:hover {
  background-color:rgb(255,255,255,0.4) ;
  padding: 20px 20px;
  text-decoration: none;
}