@import url('https://fonts.googleapis.com/css?family=Caveat|Poiret+One|Vibes&display=swap');
html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 100%;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;

}

.nav{
  height: 80px;
   background: rgb(255,255,255);


     font-family: 'Poiret One', cursive;

    text-shadow: 2px 2px 1px #aaa;
    font-size: 50PX;


 
   box-shadow: 0 5px 10px 2px  rgb(156,175,170,0.4);
  
}
#W{
  font-size: 20px;
  margin-top:320; margin-left:590px; width:100px;
  
}
#bom{
background-image: linear-gradient(130deg, #FBAB7E 30%, #F7CE68 100%);


font-size: 15px;
height: 30px;
text-align: center;
margin-top: -10px;
margin-left: -10px;
padding: 2px 2px;
  border-color:transparent;
     font-family: 'Poiret One', cursive;
}
.ss{
  width: 900px;
   margin-left:70px;
   text-align: justify-all;
}
#t{
  font-size:40px; margin-left:10px;margin-top:1vh;font-family: 'Poiret One', cursive;
}
#i{
  font-size:40px; margin-top:80px; margin-left:30px;
}
#o{
  font-size:25px; margin-top:790px; margin-left:30px; width:1000px;
}
#y{
  font-size:40px; margin-top:-150px; margin-left:30px;
}
.logo{
  margin-top: 0vh;
  height: 80px;
margin-left: 75px;
  width: 100px;
  
}
#po{
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 1100px;
  top: 0;
  background-color:rgb(255,255,255) ;
  position: absolute;
}

li {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 18PX;



}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}



li a:hover {
  background-color:rgb(255,255,255,0.4) ;
  padding: 25px 20px;
  text-decoration: none;
}
.cont{
  width: 1100px;
  height: 1300px;
  margin-left: 20vh;
  margin-top: 10vh;
  background-color:rgb(255,255,255) ;
   box-shadow: 7px 10px 10px 10px  rgb(156,175,170,0.4);
   border-radius: 20px;
   position: relative;
   margin-bottom: 10VH;
}
.tite{
  position: absolute;
  font-size: 65px;
  margin-top: 1vh;
  margin-left: 30px;
  font-family: 'Poiret One', cursive;

}
.linha{
  width: 490px;
  height: 1px;
  margin-left: -7px;
  margin-top: -1px;
  background-color:rgb(1,1,1) ;
  position: absolute;
}


.re{
  width: 40px;
  height: 40px;
   margin-top: 50px;
  margin-left: 60px;
  align-items: right;
}

.reee{
  position: fixed;
  margin-top: 390px;
  margin-left: 1090px;
}
.img{
   width: 1100px;
   margin-left: 0vh;
  height: 400px;
  margin-top: 270PX;

   position: absolute;
}
.aut{
  position: absolute;
  margin-top: 1270px;
  margin-left: 90px;
   font-family: 'Caveat', cursive;
   width: 500px;


}
#ou{
  margin-left: -60px;
  margin-bottom: -23px;

   font-family: 'Poiret One', cursive;
}
