.nav{
  height: 74px;
   background: rgb(255,255,255);


 

    text-shadow: 2px 2px 1px #aaa;
    font-size: 30PX;


 
   box-shadow: 0 5px 10px 2px  rgb(156,175,170,0.4);
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 90px;
  top: 80px;
  background-color:rgb(255,255,255) ;
  position: absolute;
}

li {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 10PX;



}
.ss{
  width: 260px;
  margin-top: 20px;
   margin-left:10px;
   font-size: 18px;
   text-align: justify-all;
}



li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}



li a:hover {
  background-color:rgb(255,255,255,0.4) ;
  padding: 20px 20px;
  text-decoration: none;
}
.logo{
  margin-top: 0vh;
  height: 74px;
margin-left: 5px;
  width: 100px;
  
}
#t{
  font-size:20px; margin-left:0px;margin-top:20px;
  font-family: 'Poiret One', cursive;
}
.cont{
  width: 330px;
  height: 1000px;
  margin-left: 15px;
  margin-top: 10vh;
  background-color:rgb(255,255,255) ;
   box-shadow: 7px 10px 10px 10px  rgb(156,175,170,0.4);
   border-radius: 20px;
   position: relative;
   margin-bottom: 10VH;
}
.tite{
  position: absolute;
  font-size: 35px;
  margin-top: 1vh;
  margin-left: 30px;
  font-family: 'Poiret One', cursive;

}
.linha{
  width: 200px;
  height: 1px;
  margin-left: -7px;
  margin-top: -1px;
  background-color:rgb(1,1,1) ;
  position: absolute;
}
.img{

   width: 330px;
   margin-left: 0vh;
  height: 200px;
  margin-top: 200PX;

   position: absolute;
}
#i{
   font-size:35px; margin-top:30px; margin-left:30px;
}
#o{
  font-size:15px; margin-top:440px; margin-left:30px; width:300px;
}
#y{
  font-size:25px; margin-top:-100px; margin-left:10px; width:300px;
}
.aut{
  position: absolute;
  margin-top: 960px;
  margin-left: 70px;
  font-size: 13px;
   font-family: 'Caveat', cursive;

}
#ou{
  margin-bottom: -19px;
  margin-left: -50px;
  font-size: 15px;
}
.ree{
  display: none;
}
}