@import url('https://fonts.googleapis.com/css?family=Caveat|Poiret+One|Vibes&display=swap');
html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 500px; ;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;

}

.nav{
  height: 80px;
   background: rgb(255,255,255);


    font-family: 'Caveat', cursive;

    text-shadow: 2px 2px 1px #aaa;
    font-size: 50PX;


 
   box-shadow: 0 5px 10px 2px  rgb(156,175,170,0.4);
  
}
#q{
  font-size:40px; margin-left:-169px;margin-top:1vh; font-family: 'Caveat', cursive;
}
#w{
  height: 380px;margin-left:100px;margin-top: 100px;
}
#b{
  height: 230px; margin-top: 240px; margin-left:450px;
}
#s{
  margin-top: 240px;
   margin-left:100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 1000px;
  top: 0;
  background-color:rgb(255,255,255) ;
  position: absolute;
}

li {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 18PX;



}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}



li a:hover {
  background-color:rgb(255,255,255,0.4) ;
  padding: 25px 20px;
  text-decoration: none;
}

.img{
  margin-top: -11.5vh;
margin-left: -60px;
  width: 400px;
}

.cont{
  width: 800px;
  height: 350px;
  margin-left: 39vh;
  background-color:rgb(255,255,255) ;
   box-shadow: 7px 10px 10px 10px  rgb(156,175,170,0.4);
   border-radius: 20px;
}
.tite{
  position: absolute;
  font-size: 45px;
  margin-top: 1vh;
  margin-left: 30px;
  font-family: 'Poiret One', cursive;

}
.sou{
  position: absolute;
  width: 600px;
  margin-top: 12vh;
  margin-left: 80px;
  font-size: 25px;
  font-family: 'Poiret One', cursive;

}

.footer{
  position: relative;
  height: 100px;
  background: rgb(42,42,55);
  text-align: center;
  align-items: center;
  margin-top: 150px;
background-image: linear-gradient(90deg, rgba(69,93,122,1) 17%, rgba(69,99,138,1) 61%, rgba(104,135,162,1) 88%);
}
#tane{
  position: absolute;
  background-color: transparent;
  margin-left:-160px;
  margin-top: 20px; 
  width: 700px;
   font-family: 'Poiret One', cursive;
}
#te{
 font-size: 40px;
 color: black;
}
#aa{
 display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 6px;
  margin-left: 360px;
  margin-top: -40px;

}



#aa a:hover {
  background-color:rgb(255,255,255,0.4) ;
 
   text-decoration: none;
   border-radius: 20px; 
}
.re{
  width: 40px;
  height: 40px;
   margin-top: 50px;
  margin-left: 60px;
  align-items: right;
}

.reee{
  margin-left: 900px;
}
