@import url('https://fonts.googleapis.com/css?family=Caveat|Poiret+One|Vibes&display=swap');
html{
  padding: 0px;
  margin: 0px;

}
body{
  height: 500px; ;
  width: 100%;
  padding :0 0px;
  overflow-x: hidden;

}

.nav{
  height: 74px;
   background: rgb(255,255,255);


    font-family: 'Caveat', cursive;

    text-shadow: 2px 2px 1px #aaa;
    font-size: 30PX;


 
   box-shadow: 0 5px 10px 2px  rgb(156,175,170,0.4);
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 140px;
  top: 10;
  background-color:rgb(255,255,255) ;
  position: absolute;
}

li {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 10PX;



}



li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}



li a:hover {
  background-color:rgb(255,255,255,0.4) ;
  padding: 20px 20px;
  text-decoration: none;
}
#q{
  font-size:30px; margin-left:10px;margin-top:10px; font-family: 'Caveat', cursive;
}
#w{
  margin-top: 100px;
  margin: 200px 50px;
  height: 200px; 
  margin-top: 150px; 
}
#b{
  margin-top: 240px;
  margin: 200px 50px;
  height: 130PX;
  margin-top: 150px;

}
#s{
  margin-top: 240px;
  margin: 200px 50px;
  margin-top: 150px;
  
}
#wer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-left: 220px;
  top: 10;
  background-color:rgb(255,255,255) ;
  position: absolute;

}


.img{
  display: none;
}
#iba{
  display: inline-block;
  width: 110px;
  height: 160px;
  margin-left: -8px;
  border-radius: 5px; 
}
#ç{
   position: absolute;
  font-size: 20px;
  margin-left: -10px;
 text-align: center;
  font-family: 'Poiret One', cursive;

}

.cont{
  width: 250px;
  height: 200px;
  margin-left: 30PX;
  
  padding: 10px 25px;
  margin: 10px 10px;
  background-color:rgb(255,255,255) ;
   box-shadow: 7px 10px 10px 10px  rgb(156,175,170,0.4);
   border-radius: 20px;
}
.tite{
  position: absolute;
  font-size: 20px;
  margin-top: 0vh;
  padding: 10px 8px;
  text-align: center;
  font-family: 'Poiret One', cursive;

}
#ala{
  
  font-size: 20px;
  margin-left: 120px;
margin-top: -170px;
  text-align: center;
  font-family: 'Poiret One', cursive;
}
.sou{
  position: absolute;
  width: 200px;
  margin-top: 12vh;
  margin: 50px 0px;
    text-align: center;
  font-size: 10px;
  font-family: 'Poiret One', cursive;

}
.au{

  font-size: 6px;
  margin-top: 5px;
margin-left: 140px;
text-align: left;
   font-family: 'Poiret One', cursive;
}

#leg{
   position: absolute;
  width: 150px;
  
  margin-top: -20vh;
    text-align: center;
  font-size: 13px;
  margin-left: 90px;
  font-family: 'Poiret One', cursive;
}
.footer{
  position: relative;
  height: 130px;
  width: 360px;
  margin-top: 60px;
  background: rgb(42,42,55);
  text-align: center;
  align-items: center;
  margin-bottom: -400px;
background-image: linear-gradient(90deg, rgba(69,93,122,1) 17%, rgba(69,99,138,1) 61%, rgba(104,135,162,1) 88%);
}
#tane{
  position: absolute;
  background-color: transparent;
  margin-left:-40px;
  margin-top: 20px; 
  width: 270px;
  height: 10px;
   font-family: 'Poiret One', cursive;
}
#te{
 font-size: 20px;
 color: black;
}
#aa{
 display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 6px;
  margin-left: 180px;
  margin-top: -20px;

}
.re{
  width: 30px;
  height: 50px;
   margin-top: 75px;
  margin-left: 10px;
  align-items: right;
}

.reee{
  margin-left: 200px;
}
#bom{
background-image: linear-gradient(349deg, rgba(137,177,150,1) 30%, rgba(104,139,145,1) 56%, rgba(102,112,116,1) 100%);
color: white;
position: absolute;
font-size: 10px;
height: 20px;
text-align: center;
margin-top: -200px;
margin-left: 160px;
padding: 2px 2px;
width: 60px;

  border-color:transparent;
     font-family: 'Poiret One', cursive;
}
#dai{
  font-size: 20px;
  position: absolute;
  margin-top:40; 
  width: 10px;


  
}
.lri{
  position: absolute;
  margin-left: 120px;
}
}